@import "semantic-ui";

.chatbox {
  height: 450px;

}

.center {
  text-align: center;
}


#msg {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}
